<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <H1>
            <%- include('_header'); %>
            Allsocial / <%= item %>
            <%- include('_footer'); %>
        </H1>
    </body>

</html>